@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #fff;
  --dark-blue-200: #e6e4e4;
  &.dark {
    --dark-blue: hsl(209, 23%, 22%);
    --dark-blue-200: hsl(210, 25%, 30%);
    --white: #fff;
    --gray: #ffffff7d;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
}
*:disabled {
  cursor: not-allowed;
}
.container {
  max-width: 1440px;
  padding-inline: 20px;
  margin-inline: auto;
}
