@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #fff;
  --dark-blue-200: #e6e4e4;
  &.dark {
    --dark-blue: hsl(209, 23%, 22%);
    --dark-blue-200: hsl(210, 25%, 30%);
    --white: #fff;
    --gray: #ffffff7d;
  }
}
/* Common styles */
body {
  font-family: "Nunito Sans", sans-serif;
}
*:disabled {
  cursor: not-allowed;
}
.container {
  max-width: 1440px;
  padding-inline: 20px;
  margin-inline: auto;
}

/* Loader Styles*/
.loader {
  margin: 4.8rem auto;
  width: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #4f46e5 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #4f46e5);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
/* Start Input Styles */

.ant-input-affix-wrapper.ant-input-outlined.css-dev-only-do-not-override-zg0ahe {
  border: none;
  outline: 0;
  outline-offset: 0;
}

.ant-input.css-dev-only-do-not-override-zg0ahe::placeholder {
  color: var(--white);
}
/* End Input Styles */

/* Button Styles  */
.ant-btn.ant-btn-default.css-dev-only-do-not-override-zg0ahe {
  border: none;
}
.ant-btn.ant-btn-default.css-dev-only-do-not-override-zg0ahe:hover {
  background: var(--dark-blue);
  border-color: var(--dark-blue);
  color: var(--white);
}
/* End Button Styles */

/* Start Pagination Styles */
.ant-pagination .ant-pagination-prev.ant-pagination-disabled {
  color: var(--white);
}
.ant-pagination .ant-pagination-prev .ant-pagination-item-link {
  color: var(--white);
}
.ant-pagination .ant-pagination-item {
  background: var(--dark-blue);
  color: var(--white);
  border: none;
}
.ant-pagination .ant-pagination-item.ant-pagination-item-active a {
  color: var(--white);
  background: var(--dark-blue-200);
  border-radius: 6px;
}
.ant-pagination .ant-pagination-item.ant-pagination-item-active {
  background: var(--dark-blue-200);
}
.ant-pagination .ant-pagination-item a,
.ant-pagination-jump-next.ant-pagination-jump-next-custom-icon
  .ant-pagination-item-link
  .ant-pagination-item-container
  .anticon-double-right,
.ant-pagination-jump-next.ant-pagination-jump-next-custom-icon
  .ant-pagination-item-link
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis,
.ant-pagination-jump-prev.ant-pagination-jump-prev-custom-icon
  .ant-pagination-item-link
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis,
.anticon.anticon-right,
.ant-pagination-jump-prev.ant-pagination-jump-prev-custom-icon
  .ant-pagination-item-link
  .ant-pagination-item-container
  .anticon-double-left {
  color: var(--white);
}
.ant-pagination-options .ant-select.ant-select-outlined .ant-select-selector {
  background-color: var(--dark-blue);
  border: none;
  color: var(--white);
}
.ant-pagination-options .ant-select.ant-select-outlined .ant-select-arrow {
  color: var(--white);
}
/* End Pagination Styles*/

/* Start Dropdown Styles*/
.ant-select {
  border-radius: 4px;
}
.ant-select .ant-select-selection-search {
  padding: 20px;
}
.css-dev-only-do-not-override-zg0ahe.ant-select-single.ant-select-show-arrow.ant-select.ant-select-outlined
  .ant-select-selector {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
}
.ant-select-selector .ant-select-selection-placeholder,
.ant-select .ant-select-arrow,
.ant-select-item-option .ant-select-item-option-content {
  color: var(--white);
}

.ant-select-focused .ant-select-selector .ant-select-selection-item {
  color: var(--gray);
}
.ant-select-dropdown {
  background-color: var(--dark-blue);
  color: var(--white);
}
.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  background-color: var(--dark-blue-200);
}
.ant-select-item.ant-select-item-option.ant-select-item-option:hover {
  background-color: var(--dark-blue-200);
}

.ant-pagination-prev.ant-pagination-disabled,
.ant-pagination-next.ant-pagination-disabled,
.ant-pagination.css-dev-only-do-not-override-zg0ahe .ant-pagination-prev,
.ant-pagination.css-dev-only-do-not-override-zg0ahe .ant-pagination-next {
  font-size: 18px;
  padding: 7px;
  color: var(--white);
  &:hover {
    opacity: 0.5;
  }
}
/* End Dropdown Styles*/
